anyio==4.12.1
APScheduler==3.10.4
cachetools==5.5.2
certifi==2026.2.25
charset-normalizer==3.4.5
google-api-core==2.30.0
google-api-python-client==2.137.0
google-auth==2.33.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.73.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
proto-plus==1.27.1
protobuf==6.33.5
pyasn1==0.6.2
pyasn1_modules==0.4.2
pyparsing==3.3.2
python-telegram-bot==21.6
pytz==2026.1.post1
requests==2.32.5
rsa==4.9.1
six==1.17.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
